<!DOCTYPE html>

<html ng-app="GroupFuel">
    <head>
		<title>Group Fuel Web</title>
		
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<!-- the base url for routing -->
		<base href="/" />
		
		<!-- put links to vendor css here -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="web_ui/app/bower_components/ng-table/dist/ng-table.css">
		<link rel="stylesheet" href="web_ui/app/bower_components/select2/select2.css">

		<link rel="stylesheet" href="web_ui/app/assets/style.css"/>
	</head>
    <body>
		<div id="wrapper" ng-controller="NavigationController">
            <div class="container-fluid">
			    <div class="navbar navbar-default">
				    <div class="navbar-header">
				    	<a class="navbar-brand" href="/welcome">GroupFuel</a>
				    </div>
				    <ul class="nav navbar-nav">
					    <li ng-class="{'active': isActive('/usage')}"><a href="/usage">My Usage</a></li>
					    <li class="divider-vertical"></li>
   					    <li ng-class="{'active': isActive('/account-manager')}"><a href="/account-manager">Account</a></li>
    					<li class="divider-vertical"></li>
	    				<li ng-class="{'active': isActive('/statistics')}"><a href="/statistics">Stats</a></li>
                        <li class="divider-vertical"></li>
                        <li ng-class="{'active': isActive('/mail-report')}"><a href="/mail-report">Mail Reports</a></li>
                        <li class="divider-vertical"></li>
                        <li ng-class="{'active': isActive('/about')}"><a href="/about">About Us</a></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li ng-if="!UserService.logged" ng-class="{'active': isActive('/signup')}"><a href="/signup">Create Account</a></li>
						<li ng-if="!UserService.logged" ng-click="doLogin()"><a href="#">Login</a></li>
						<li ng-if="UserService.logged" ng-click="doLogOut()"><a href="#">Logout</a></li>
					</ul>
	    		</div>
            </div>
		</div>
		<div ng-view class="container-fluid"></div>

		<!-- vendors scripts that we use -->
		<script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="web_ui/app/bower_components/angular-route/angular-route.min.js"></script>
		<script src="web_ui/app/bower_components/ng-table/dist/ng-table.min.js"></script>
		<script src="web_ui/app/bower_components/select2/select2.js"></script>
		<script src="web_ui/app/bower_components/angular-ui-select2/src/select2.js"></script>
		<script src="web_ui/app/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="web_ui/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<!-- our scripts -->
		<script src="web_ui/app/app.js"></script>
        <script src="web_ui/app/controllers/AccountManagerController.js"></script>
        <script src="web_ui/app/controllers/StatisticsController.js"></script>
		<script src="web_ui/app/controllers/UsageController.js"></script>
		<script src="web_ui/app/controllers/MailReportController.js"></script>
		<script src="web_ui/app/controllers/NavigationController.js"></script>
        <script src="web_ui/app/controllers/SignupController.js"></script>
		<script src="web_ui/app/controllers/LoginController.js"></script>
		<script src="web_ui/app/services/UsageService.js"></script>
		<script src="web_ui/app/services/UserService.js"></script>




	</body>
</html>