Android/.gradle
Android/local.properties
Android/.idea/workspace.xml
Android/.idea/tasks.xml
Android/.idea/libraries
Android/.DS_Store
Android/app/build
Android/build
desktop.ini
web_ui/vendors.txt
web_ui/.idea
