<div class="container">
    <div class="page-header">
        <h1>Group Fuel <small>Manage your fuel consumption smarter!</small></h1>
        <p>Group Fuel is a system that helps you track and manage your fuel consumption</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            Add a short explanation about GroupFuel
            <ul>
                <li>How to use</li>
                <li>Statistics</li>
                <li>Android app</li>
            </ul>
        </div>
    </div>

</div>